.container{
    margin-top: 60px;
    padding: 0px 10px;
}
.lista-filmes{
    max-width: 800px;
    margin: 14px auto;
}
.lista-filmes article{
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}
.lista-filmes img{
    width: 500px;
    max-height: 500px;
    object-fit: cover;/*cortar a imagem e deixar ela do tamanho citado acima*/
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    text-decoration: none;
    background-color: #116feb;
    color:#fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

@media (max-width: 500px){
    .lista-filmes img{
        max-height: 550px;
        max-width: 100%;
    }
}